@use "../components/" as c;

/*--------------------------------------------------------------
# HEADER SECTION --- WisePanda.fr 
--------------------------------------------------------------*/

.header {
    padding: 15px;
    transition: all 0.5s;
    z-index: 999;
    &.sticked {
        background: c.$gray-100;
        box-shadow: 0px 2px 20px rgba(c.$color-primary-light, 0.9);
        .logo {
            h1 {
                color: c.$color-default-dark;
            }
        }
    }
    .logo {
        img {
            max-height: 40px;
            margin-right: 6px;
        }
        h1 {
            font-size: 2rem;
            font-weight: 300;
            color: c.$white;
            font-family: c.$font-default;
            span {
                &:first-child {
                    color: c.$color-primary-light;
                    font-weight: 500;
                }
                &:last-child {
                    color: c.$color-primary;
                    font-weight: 900;
                }
            }
        }
    }
}

// Optimisation Responsive

@media (max-width: 1279px) {
    .btn {
        &--contact,
        &--contact:focus {
            margin-right: 50px;
        }
    }
}

@media (max-width: 505px) {
    .btn {
        &--contact {
           display: none;
        }
    }
}