/*--------------------------------------------------------------
# CLIENTS SECTION --- WisePanda.fr 
--------------------------------------------------------------*/

.clients {
    padding: 0 0 60ps 0;
    .swiper-slide {
        opacity: 0.5;
        transition: 0.3s;
        filter: grayscale(100);
        &:hover {
            filter: none;
            opacity: 1;
        }
    }
}